export(Bernstein.compute.pvalues)
export(Bernstein.ind.compute.pvalues)
export(Bernstein.p.value)
export(Chi.square.compute.pvalues)
export(Compute.Chi.sq)
export(compute.cumulative.multiple)
export(compute.integral.from.similarity)
export(compute.integral)
export(cumulative.values)
export(Do.boolean.membership.matrix)
export(do.similarity.noise)
export(do.similarity.projection)
export(do.similarity.resampling)
export(Fuzzy.kmeans.sim.noise)
export(Fuzzy.kmeans.sim.projection)
export(Fuzzy.kmeans.sim.resampling)
export(Hierarchical.sim.noise)
export(Hierarchical.sim.projection)
export(Hierarchical.sim.resampling)
export(Hybrid.testing)
export(Hypothesis.testing)
export(Intersect)
export(Kmeans.sim.noise)
export(Kmeans.sim.projection)
export(Kmeans.sim.resampling)
export(PAM.sim.noise)
export(PAM.sim.projection)
export(PAM.sim.resampling)
export(perturb.by.noise)
export(plot_cumulative.multiple)
export(plot_cumulative)
export(plot_hist.similarity)
export(plot_multiple.hist.similarity)
export(plot_pvalues)
export(sFM)
export(sJaccard)
export(sM)
